<!DOCTYPE html>
<html xmlns:th="http://ww.thymeleaf.org">
<head th:fragment="head">
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"></link>
</head>
<body>

	<!-- NavBar -->
	<header th:fragment="header">
		<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
			<div class="container">
				<a class="navbar-brand" href="#">MyLogo</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse"
					data-target="#navbarSupportedContent"
					aria-controls="navbarSupportedContent" aria-expanded="false"
					aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				
				<!-- Menu links  -->
				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="navbar-nav mr-auto">
						<li class="nav-item active"><a class="nav-link" th:href="@{/index}">Home
								<span class="sr-only">(current)</span>
						</a></li>
						<li class="nav-item"><a class="nav-link" href="#">Customers</a></li>
					</ul>
				</div>
			
			</div>
		</nav>
	</header>

	<!-- Container -->
	<div th:fragment="container"></div>

	<!-- Pie de pagina -->
	<footer th:fragment="footer" class="bg-dark text-white fixed-bottom">

		<div class="container">
			<p>Copyright rafamDev &copy;</p>
		</div>

		<script type="text/javascript"
			th:ref="@{/js/jquery-3.2.1.slim.min.js}"></script>
		<script type="text/javascript" th:ref="@{/js/bootstrap.min.js}"></script>
		<script type="text/javascript" th:ref="@{/js/popper.min.js}"></script>
	</footer>

</body>
</html>