<html xmlns:th="http://ww.thymeleaf.org">
<head th:replace="webFiles/template :: head">
<meta charset="UTF-8">
<title>Insert title here</title>
 </head>
<body>
<header th:replace="webFiles/template :: header">

</header>

<div class="container">
 
  <div class="card bg-light">
    <div class="card-header bg-dark text-white"></div>
    <div class="card-body">

  <form>
  <div class="form-group row">
    <label class="col-md-2" for="name">Name:</label>
    <input type="text" class="form-control form-control-sm col-md-6" id="name" placeholder="Name">
    <small></small>
  </div>
  
  <div class="form-group row">
    <label class="col-md-2" for="lastname">Lastname:</label>
    <input type="text" class="form-control form-control-sm col-md-6" id="lastName" placeholder="Lastname">
    <small></small>
  </div>
  
  <div class="form-group row">
    <label class="col-md-2" for="phonenumber">Phonenumber:</label>
    <input type="number" class="form-control form-control-sm col-md-6" id="phoneNamber" placeholder="Phonenumber">
    <small></small>
  </div>
  
  <div class="form-group row">
    <label class="col-md-2" for="city">City:</label>
    <select class="form-control form-control-sm col-md-6" id="city">
      <option>Sada</option>
      <option>Mera</option>
    </select>
  </div>
 <div class="card-footer bg-dark">
  <input type="submit" class="btn btn-primary btn-sm"/>
</div>

</form>
</div>
</div>
</div>


<footer th:replace="webFiles/template :: footer"></footer>


</body>
</html>