<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="webFiles/template :: head">
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<header th:replace="webFiles/template :: header"> </header>

	<div class="container">
		<h1 th:text="${title}"></h1>
	</div>

	<div class="container">
		<table class="table">
			<thead class="thead-dark">
				<tr>
					<th scope="col">ID</th>
					<th scope="col">NAME</th>
					<th scope="col">LASTNAME</th>
					<th scope="col">PHONENUMBER</th>
					<th scope="col">CITY</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="c:${listCustomers}">
					<th scope="row" th:text="${c.id}"></th>
					<td th:text="${c.name}"></td>
					<td th:text="${c.lastName}"></td>
					<td th:text="${c.phoneNumber}"></td>
					<td th:text="${c.city.city}"></td>
				</tr>

			</tbody>
		</table>
	</div>

	<footer th:replace="webFiles/template :: footer"></footer>

</body>
</html>